1) 데이터 준비와 전처리
---
Movielens 데이터는 rating.dat 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.

루브릭

아래의 기준을 바탕으로 프로젝트를 평가합니다.


|평가문항|	상세기준|
|:------:|:--------:|
|1. CSR matrix가 정상적으로 만들어졌다.| 사용자와 아이템 개수를 바탕으로 정확한 사이즈로 만들었다.|
|2. MF 모델이 정상적으로 훈련되어 그럴듯한 추천이 이루어졌다.| 사용자와 아이템 벡터 내적수치가 의미있게 형성되었다.|
|3. 비슷한 영화 찾기와 유저에게 추천하기의 과정이 정상적으로 진행되었다. |MF모델이 예측한 유저 선호도 및 아이템간 유사도, 기여도가 의미있게 측정되었다.|

In [387]:
import os
import pandas as pd

rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [388]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [389]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count'}, inplace=True)

In [390]:
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

In [391]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

2) 분석해 봅시다.

In [392]:
# movie_id는 3952까지 존재
movies.tail()

      movie_id                       title           genre
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [393]:
# 1) ratings에 있는 유니크한 영화 개수
ratings['movie_id'].nunique()

3628

In [394]:
# 2) rating에 있는 유니크한 사용자 수
ratings['user_id'].nunique()

6039

In [395]:
# 3) 가장 인기 있는 영화 30개(인기순)
ratings.groupby('movie_id')['user_id'].count().sort_values(ascending=False)

movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
        ...
1553       1
1548       1
2486       1
138        1
3876       1
Name: user_id, Length: 3628, dtype: int64

In [396]:
ratings

         user_id  movie_id  count  timestamp
0              1      1193      5  978300760
1              1       661      3  978302109
2              1       914      3  978301968
3              1      3408      4  978300275
4              1      2355      5  978824291
...          ...       ...    ...        ...
1000203     6040      1090      3  956715518
1000205     6040      1094      5  956704887
1000206     6040       562      5  956704746
1000207     6040      1096      4  956715648
1000208     6040      1097      4  956715569

[836478 rows x 4 columns]

In [398]:
ratings.tail()

         user_id  movie_id  count
1000203     6040      1090      3
1000205     6040      1094      5
1000206     6040       562      5
1000207     6040      1096      4
1000208     6040      1097      4

In [399]:
ratings = ratings.merge(movies, how='left', on='movie_id')

In [400]:
movie = 'E.T. the Extra-Terrestrial (1982)'

In [401]:
ratings[ratings['title'].apply(lambda x : x.split('(')[0].rstrip() in movie)]

,user_id,movie_id,count,title,genre
26,1,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
225,4,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
1076,10,1097,5,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
1309,13,1097,5,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
1712,17,1097,3,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
...,...,...,...,...,...
835166,6035,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
835873,6036,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
836064,6037,1097,5,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
836201,6039,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
836477,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi

In [402]:
# 연도는 1919년 부터 2000년까지 존재
ratings['title'].apply(lambda x : int(x.split('(')[-1][:4])).sort_values()

371730    1919
395335    1919
835412    1919
587578    1919
665294    1919
          ...
413662    2000
77813     2000
309771    2000
309769    2000
762702    2000
Name: title, Length: 836478, dtype: int64

In [403]:
genres = list(movies['genre'].value_counts().keys())

In [404]:
def unique_genre(genres):
    uniq_genre = [] # unique 장르를 담을 list
    for genre in genres:
        uniq_genre.extend(genre.split('|'))
    return list(set(uniq_genre))

In [405]:
genres = unique_genre(genres)

In [406]:
# G enres are pipe-separated and are selected from the following genres:
genres.sort()
genres

['Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

3) 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

- user_id : 기존 id가 6040까지 있으므로 내 id는 6041으로 설정한다.
- movie_id : 내가 선택할 영화의 id가 리스트에 존재한다면 해당 id로 설정하고
그렇지 않다면 3952 이후로 설정 
- count : 내가 좋아하는 영화이므로 5점을 부여
- title : title 형식에 맞게 '제목 (연도)'로 전처리
- genre : 장르가 여러개 존재할 경우 |로 연결

In [407]:
# 2000년 이전 영화 중에서 내가 좋아하는 영화 5가지를 선택한다.

# 라이언 일병 구하기 Saving Private Ryan, 1998 War, Action, Drama
# 인생은 아름다워 Life Is Beautiful, 1997, Drama, Comedy
# 쇼생크 탈출 The Shawshank Redemption, 1994, Drama
# 타이타닉 Titanic, 1997, Romance, Drama
# 매트릭스 The Matrix, 1999 Sci-Fi, Action

# 영화 하나 하나 검색하며 title이 일치하는지 여부를 확인한다.

favorite_movies = ['Saving Private Ryan (1998)',
                   'Life Is Beautiful (1997)',
                   'The Shawshank Redemption (1994)',
                   'Titanic (1997)',
                   'The Matrix (1999)']

In [408]:
# 라이언 일병 구하기
movie_name = 'Saving Private Ryan (1998)'
ratings[ratings['title'].apply(lambda x : x == movie_name)]

        user_id  movie_id  count                       title             genre
48            1      2028      5  Saving Private Ryan (1998)  Action|Drama|War
102           2      2028      4  Saving Private Ryan (1998)  Action|Drama|War
221           4      2028      5  Saving Private Ryan (1998)  Action|Drama|War
473           7      2028      5  Saving Private Ryan (1998)  Action|Drama|War
571           8      2028      5  Saving Private Ryan (1998)  Action|Drama|War
...         ...       ...    ...                         ...               ...
834644     6027      2028      5  Saving Private Ryan (1998)  Action|Drama|War
835008     6033      2028      5  Saving Private Ryan (1998)  Action|Drama|War
835862     6036      2028      5  Saving Private Ryan (1998)  Action|Drama|War
836059     6037      2028      4  Saving Private Ryan (1998)  Action|Drama|War
836470     6040      2028      5  Saving Private Ryan (1998)  Action|Drama|War

[2561 rows x 5 columns]

In [409]:
# 인생은 아름다워
# Life Is Beautiful (1997)으로는 인덱싱이 되지 않는다'
# 제목을 'Life Is Beautiful (La Vita è bella) (1997)'로 수정한다.

movie_name = 'Life Is Beautiful (1997)'
favorite_movies[1] = 'Life Is Beautiful (La Vita è bella) (1997)'
ratings[ratings['title'].apply(lambda x : x[:4] == 'Life')]

,user_id,movie_id,count,title,genre
595,8,2324,3,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
698,9,2324,5,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
885,10,2324,5,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
1673,17,2377,5,Lifeforce (1985),Horror|Sci-Fi
2078,19,2324,5,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
...,...,...,...,...,...
835133,6035,2324,5,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
835728,6036,2324,4,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
835756,6036,2377,3,Lifeforce (1985),Horror|Sci-Fi
836038,6037,2324,4,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
836423,6040,2324,3,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama

In [410]:
# 쇼생크 탈출
# 쇼생크 탈출 제목도 Shawshank Redemption, The로 되어있기 떄문에 제목을 수정한다.
movie_name = 'Shawshank Redemption (1994)'
movies[2] = 'Shawshank Redemption, The (1994)'
movies[movies['title'].apply(lambda x : (x[:4] == 'Shaw'))]

,movie_id,title,genre,2
315,318,"Shawshank Redemption, The (1994)",Drama,"Shawshank Redemption, The (1994)"

In [411]:
# 타이타닉 
movie_name = 'Titanic (1997)'
ratings[ratings['title'].apply(lambda x : x == movie_name)]

        user_id  movie_id  count           title          genre
27            1      1721      4  Titanic (1997)  Drama|Romance
557           8      1721      5  Titanic (1997)  Drama|Romance
672           9      1721      5  Titanic (1997)  Drama|Romance
1027         10      1721      3  Titanic (1997)  Drama|Romance
1934         18      1721      4  Titanic (1997)  Drama|Romance
...         ...       ...    ...             ...            ...
833544     6016      1721      3  Titanic (1997)  Drama|Romance
834214     6023      1721      5  Titanic (1997)  Drama|Romance
834500     6025      1721      4  Titanic (1997)  Drama|Romance
834642     6027      1721      4  Titanic (1997)  Drama|Romance
835757     6036      1721      4  Titanic (1997)  Drama|Romance

[1270 rows x 5 columns]

In [412]:
# 매트릭스
# 매트릭스는 Matrix, The (1999)로 수정한다.
movie_name = 'The Matrix (1999)'
favorite_movies[4] = 'Matrix, The (1999)' 
ratings[ratings['title'].apply(lambda x : x[:6] == 'Matrix')]

        user_id  movie_id  count               title                   genre
127           2      2571      4  Matrix, The (1999)  Action|Sci-Fi|Thriller
286           5      2571      5  Matrix, The (1999)  Action|Sci-Fi|Thriller
459           7      2571      5  Matrix, The (1999)  Action|Sci-Fi|Thriller
517           8      2571      5  Matrix, The (1999)  Action|Sci-Fi|Thriller
640           9      2571      5  Matrix, The (1999)  Action|Sci-Fi|Thriller
...         ...       ...    ...                 ...                     ...
834757     6030      2571      5  Matrix, The (1999)  Action|Sci-Fi|Thriller
834829     6031      2571      5  Matrix, The (1999)  Action|Sci-Fi|Thriller
835072     6035      2571      5  Matrix, The (1999)  Action|Sci-Fi|Thriller
835456     6036      2571      3  Matrix, The (1999)  Action|Sci-Fi|Thriller
836289     6040      2571      4  Matrix, The (1999)  Action|Sci-Fi|Thriller

[2434 rows x 5 columns]

In [413]:
favorite_movies

['Saving Private Ryan (1998)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'The Shawshank Redemption (1994)',
 'Titanic (1997)',
 'Matrix, The (1999)']

In [414]:
my_movies = {
    'user_id' : [6041] * 5,
    'movie_id' : [2028, 2324, 318, 1721, 2571],
    'count' : [5]*5,
    'title' : favorite_movies,
    'genre': ['Action|Drama|War',
             'Comedy|Drama',
             'Drama',
             'Drama|Romance',
             'Action|Sci-Fi|Thriller']
}

In [415]:
my_movies_df = pd.DataFrame(my_movies)

In [416]:
ratings = ratings.append(my_movies_df, ignore_index=True)

In [421]:
ratings.tail(10)

,user_id,movie_id,count,title,genre
836473,6040,1090,3,Platoon (1986),Drama|War
836474,6040,1094,5,"Crying Game, The (1992)",Drama|Romance|War
836475,6040,562,5,Welcome to the Dollhouse (1995),Comedy|Drama
836476,6040,1096,4,Sophie's Choice (1982),Drama
836477,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
836478,6041,2028,5,Saving Private Ryan (1998),Action|Drama|War
836479,6041,2324,5,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama
836480,6041,318,5,The Shawshank Redemption (1994),Drama
836481,6041,1721,5,Titanic (1997),Drama|Romance
836482,6041,2571,5,"Matrix, The (1999)",Action|Sci-Fi|Thriller

In [422]:
ratings.drop(['timestamp', 'genre'], axis=1, inplace=True)

In [423]:
ratings

        user_id  movie_id  count                                       title
0             1      1193      5      One Flew Over the Cuckoo's Nest (1975)
1             1       661      3            James and the Giant Peach (1996)
2             1       914      3                         My Fair Lady (1964)
3             1      3408      4                      Erin Brockovich (2000)
4             1      2355      5                        Bug's Life, A (1998)
...         ...       ...    ...                                         ...
836478     6041      2028      5                  Saving Private Ryan (1998)
836479     6041      2324      5  Life Is Beautiful (La Vita è bella) (1997)
836480     6041       318      5             The Shawshank Redemption (1994)
836481     6041      1721      5                              Titanic (1997)
836482     6041      2571      5                          Matrix, The (1999)

[836483 rows x 4 columns]

In [424]:
# 고유한 유저와 영화의 개수
user_unique = ratings['user_id'].unique()
movie_unique = ratings['title'].unique()

# 고유한 값의 개수만큼 유저 id와 영화 제목을 indexing
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [425]:
# 데이터 컬럼 내 값을 indexing된 값으로 교체

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 title 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = ratings['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('title column indexing OK!!')
    ratings['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

ratings

user_id column indexing OK!!
title column indexing OK!!

        user_id  movie_id  count  title
0             0      1193      5      0
1             0       661      3      1
2             0       914      3      2
3             0      3408      4      3
4             0      2355      5      4
...         ...       ...    ...    ...
836478     6039      2028      5     48
836479     6039      2324      5    450
836480     6039       318      5   3628
836481     6039      1721      5     27
836482     6039      2571      5    124

[836483 rows x 4 columns]

In [426]:
from scipy.sparse import csr_matrix

# CSR Matrix 생성
num_user = ratings['user_id'].nunique()
num_movie = ratings['title'].nunique()

csr_data = csr_matrix((ratings['count'], (ratings.user_id, ratings.title)), shape= (num_user, num_movie))
csr_data

<6040x3629 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [427]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [428]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [429]:
# als 모델은 input으로 item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.
csr_data_transpose = csr_data.T
csr_data_transpose

<3629x6040 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Column format>

4) CSR matrix를 직접 만들어 봅시다.

In [430]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [432]:

# 훈련된 모델이 만든 나의 벡터와 영화 벡터 구하기
my_vector, matrix = user_to_idx[6041], movie_to_idx['Matrix, The (1999)']
my_vector, matrix_vector = als_model.user_factors[my_vector], als_model.item_factors[matrix]

In [433]:
my_vector

array([ 1.22833335e+00,  5.62239215e-02, -1.59503385e-01, -1.84889898e-01,
       -1.68979481e-01, -1.22353330e-01,  5.43722630e-01, -4.75693122e-02,
       -3.78764898e-01,  1.08256984e+00,  3.49917680e-01,  1.73650086e-01,
       -6.38982713e-01,  4.06543374e-01, -5.75075984e-01,  1.19217755e-02,
       -1.12571216e+00, -9.31851938e-02,  3.72354329e-01,  4.67013538e-01,
        1.51442021e-01,  5.52071571e-01,  3.53909194e-01,  7.51697600e-01,
       -3.21185254e-02,  6.82726979e-01, -1.98759526e-01, -2.10195243e-01,
        1.49604063e-02, -1.28654987e-01,  4.93119657e-01, -3.40344220e-01,
       -9.28556204e-01,  7.36328736e-02, -1.07435822e+00, -2.92284042e-01,
       -3.29814136e-01, -4.88126546e-01,  8.33079040e-01, -1.47266045e-01,
       -3.69759887e-01, -1.08713157e-01, -3.21160585e-01, -3.55445325e-01,
        1.37913799e+00, -1.71435475e-02,  5.18075377e-02, -4.99633908e-01,
        7.13892341e-01,  9.01375934e-02, -1.04771398e-01,  5.90528488e-01,
       -9.65893507e-01,  1.32203519e-01, -3.70422810e-01,  3.43973905e-01,
        4.54818010e-01,  5.92244677e-02, -3.56990173e-02, -1.03731938e-01,
        5.93153715e-01, -1.72821864e-01, -1.13710482e-02, -2.97641486e-01,
        5.24787486e-01, -1.27795845e-01,  1.24369383e+00, -2.65328586e-01,
       -2.65120864e-01,  7.12359667e-01,  1.09689403e+00, -2.97293551e-02,
        6.75769970e-02,  3.01318794e-01, -4.53254163e-01,  1.69206709e-01,
       -1.05646357e-01,  2.24725261e-01,  6.50939882e-01, -2.56856978e-01,
       -9.20829892e-01, -8.96110117e-01, -4.20663841e-02,  2.51654923e-01,
       -3.92114669e-01, -5.84044337e-01,  3.03319275e-01,  4.60227400e-01,
       -7.63495564e-01,  1.15729004e-01,  1.59306183e-01, -9.00099277e-02,
       -2.93144137e-01, -6.87804282e-01,  1.35161169e-03, -5.26787102e-01,
        3.03841501e-01, -6.22698247e-01,  9.99900512e-05,  2.00110987e-01],
      dtype=float32)

In [434]:
matrix_vector

array([ 0.03692868,  0.00738154, -0.01479881,  0.01444819, -0.00449592,
       -0.00522446,  0.03562076,  0.01859645,  0.01086218,  0.01749213,
        0.01856558,  0.01773844, -0.02993364,  0.01058382,  0.01998881,
       -0.00282939, -0.02316605,  0.01237214, -0.00851961,  0.01390832,
       -0.0001294 ,  0.04753195,  0.01771171, -0.00427343,  0.00971743,
        0.02324702, -0.01419245,  0.00578098,  0.0015161 , -0.0187404 ,
        0.02211158, -0.01960597, -0.01846311,  0.00287443, -0.0032173 ,
        0.00583138,  0.00193565,  0.00693994,  0.03309618,  0.0147235 ,
       -0.00639107,  0.00447477,  0.00699209,  0.00953454,  0.02356692,
        0.01146753,  0.0071033 , -0.01949338,  0.02739416, -0.00084121,
        0.01860807,  0.020066  , -0.00734027, -0.01230309,  0.01718184,
        0.01605835,  0.01713888,  0.02898002,  0.00323494, -0.00989487,
        0.02307235, -0.00056675, -0.00905778,  0.00780105,  0.02943735,
       -0.01083852,  0.013817  , -0.0068008 ,  0.01643547,  0.0091478 ,
        0.01454621, -0.00846986,  0.00421225,  0.00823882,  0.00899882,
        0.03448787,  0.02121232, -0.00390139, -0.00532925,  0.01380947,
        0.02300871,  0.02427456, -0.00445268,  0.01234381, -0.02169915,
       -0.02875434,  0.01813314,  0.04087161, -0.01356342, -0.0037791 ,
       -0.01201963, -0.00687144, -0.01810877,  0.00848681, -0.00245608,
       -0.02566054,  0.01084637, -0.00982733, -0.01329965,  0.00330631],
      dtype=float32)

In [438]:
movie_to_idx

{"One Flew Over the Cuckoo's Nest (1975)": 0,
 'James and the Giant Peach (1996)': 1,
 'My Fair Lady (1964)': 2,
 'Erin Brockovich (2000)': 3,
 "Bug's Life, A (1998)": 4,
 'Princess Bride, The (1987)': 5,
 'Ben-Hur (1959)': 6,
 'Christmas Story, A (1983)': 7,
 'Snow White and the Seven Dwarfs (1937)': 8,
 'Wizard of Oz, The (1939)': 9,
 'Beauty and the Beast (1991)': 10,
 'Gigi (1958)': 11,
 'Miracle on 34th Street (1947)': 12,
 "Ferris Bueller's Day Off (1986)": 13,
 'Sound of Music, The (1965)': 14,
 'Airplane! (1980)': 15,
 'Tarzan (1999)': 16,
 'Bambi (1942)': 17,
 'Awakenings (1990)': 18,
 'Big (1988)': 19,
 'Pleasantville (1998)': 20,
 'Wallace & Gromit: The Best of Aardman Animation (1996)': 21,
 'Back to the Future (1985)': 22,
 "Schindler's List (1993)": 23,
 'Meet Joe Black (1998)': 24,
 'Pocahontas (1995)': 25,
 'E.T. the Extra-Terrestrial (1982)': 26,
 'Titanic (1997)': 27,
 'Ponette (1996)': 28,
 'Close Shave, A (1995)': 29,
 'Antz (1998)': 30,
 'Girl, Interrupted (1999)': 31,
 'Hercules (1997)': 32,
 'Aladdin (1992)': 33,
 'Mulan (1998)': 34,
 'Hunchback of Notre Dame, The (1996)': 35,
 'Last Days of Disco, The (1998)': 36,
 'Cinderella (1950)': 37,
 'Sixth Sense, The (1999)': 38,
 'Apollo 13 (1995)': 39,
 'Toy Story (1995)': 40,
 'Rain Man (1988)': 41,
 'Driving Miss Daisy (1989)': 42,
 'Run Lola Run (Lola rennt) (1998)': 43,
 'Star Wars: Episode IV - A New Hope (1977)': 44,
 'Mary Poppins (1964)': 45,
 'Dumbo (1941)': 46,
 'To Kill a Mockingbird (1962)': 47,
 'Saving Private Ryan (1998)': 48,
 'Secret Garden, The (1993)': 49,
 'Toy Story 2 (1999)': 50,
 'Fargo (1996)': 51,
 'Dead Poets Society (1989)': 52,
 'Shine (1996)': 53,
 'Verdict, The (1982)': 54,
 'Shall We Dance? (Shall We Dansu?) (1996)': 55,
 'Courage Under Fire (1996)': 56,
 'Untouchables, The (1987)': 57,
 'Mission: Impossible (1996)': 58,
 'Few Good Men, A (1992)': 59,
 'Star Wars: Episode I - The Phantom Menace (1999)': 60,
 'Rebel Without a Cause (1955)': 61,
 'Total Recall (1990)': 62,
 'Hustler, The (1961)': 63,
 'Star Wars: Episode VI - Return of the Jedi (1983)': 64,
 'U.S. Marshalls (1998)': 65,
 'Jackal, The (1997)': 66,
 'Gladiator (2000)': 67,
 'Double Jeopardy (1999)': 68,
 'Yojimbo (1961)': 69,
 'Ran (1985)': 70,
 'Snake Eyes (1998)': 71,
 'Fisher King, The (1991)': 72,
 'Mister Roberts (1955)': 73,
 'Day the Earth Stood Still, The (1951)': 74,
 'Hunt for Red October, The (1990)': 75,
 'Outbreak (1995)': 76,
 'Simon Birch (1998)': 77,
 'Stand and Deliver (1987)': 78,
 'Maverick (1994)': 79,
 'Stand by Me (1986)': 80,
 'Green Mile, The (1999)': 81,
 'Lost World: Jurassic Park, The (1997)': 82,
 'Gandhi (1982)': 83,
 'Strictly Ballroom (1992)': 84,
 'League of Their Own, A (1992)': 85,
 'Bodyguard, The (1992)': 86,
 'Braveheart (1995)': 87,
 'Ronin (1998)': 88,
 'Payback (1999)': 89,
 'Spanish Prisoner, The (1997)': 90,
 'Close Encounters of the Third Kind (1977)': 91,
 'Terminator 2: Judgment Day (1991)': 92,
 'Alien: Resurrection (1997)': 93,
 'Guns of Navarone, The (1961)': 94,
 "Soldier's Story, A (1984)": 95,
 'On the Waterfront (1954)': 96,
 'Picnic (1955)': 97,
 'Misérables, Les (1998)': 98,
 'American Beauty (1999)': 99,
 'Amadeus (1984)': 100,
 'Remains of the Day, The (1993)': 101,
 'Demolition Man (1993)': 102,
 'Children of a Lesser God (1986)': 103,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 104,
 'Last of the Mohicans, The (1992)': 105,
 'Bonnie and Clyde (1967)': 106,
 'Jurassic Park (1993)': 107,
 'Prefontaine (1997)': 108,
 'Doctor Zhivago (1965)': 109,
 'Groundhog Day (1993)': 110,
 'Die Hard 2 (1990)': 111,
 'Man in the Iron Mask, The (1998)': 112,
 'Star Trek VI: The Undiscovered Country (1991)': 113,
 'Enemy of the State (1998)': 114,
 'Key Largo (1948)': 115,
 'Dances with Wolves (1990)': 116,
 'Star Wars: Episode V - The Empire Strikes Back (1980)': 117,
 'Con Air (1997)': 118,
 'Twister (1996)': 119,
 'Raiders of the Lost Ark (1981)': 120,
 'Silence of the Lambs, The (1991)': 121,
 'Waking Ned Devine (1998)': 122,
 'Ghostbusters II (1989)': 123,
 'Matrix, The (1999)': 124,
 'Armageddon (1998)': 125,
 'Shakespeare in Love (1998)': 126,
 'Serpico (1973)': 127,
 'French Connection, The (1971)': 128,
 'Conspiracy Theory (1997)': 129,
 'What About Bob? (1991)': 130,
 'Rocky (1976)': 131,
 'Kramer Vs. Kramer (1979)': 132,
 'Ed Wood (1994)': 133,
 'On Golden Pond (1981)': 134,
 'Chariots of Fire (1981)': 135,
 'Desperado (1995)': 136,
 'Die Hard: With a Vengeance (1995)': 137,
 'True Lies (1994)': 138,
 'October Sky (1999)': 139,
 'Clear and Present Danger (1994)': 140,
 'Fugitive, The (1993)': 141,
 "Sophie's Choice (1982)": 142,
 'Gone with the Wind (1939)': 143,
 'Getaway, The (1994)': 144,
 'Fifth Element, The (1997)': 145,
 'Thelma & Louise (1991)': 146,
 'Under Siege (1992)': 147,
 "Guess Who's Coming to Dinner (1967)": 148,
 'Grapes of Wrath, The (1940)': 149,
 'Independence Day (ID4) (1996)': 150,
 'Mr. Jones (1993)': 151,
 'Spartacus (1960)': 152,
 'Lethal Weapon 3 (1992)': 153,
 'As Good As It Gets (1997)': 154,
 'Indochine (1992)': 155,
 'Mask of Zorro, The (1998)': 156,
 'Shawshank Redemption, The (1994)': 157,
 'Man with the Golden Arm, The (1955)': 158,
 'Manhattan (1979)': 159,
 'Forrest Gump (1994)': 160,
 'Graduate, The (1967)': 161,
 'Animal House (1978)': 162,
 'Raising Arizona (1987)': 163,
 '28 Days (2000)': 164,
 'Happy Gilmore (1996)': 165,
 'Golden Child, The (1986)': 166,
 'Beverly Hills Ninja (1997)': 167,
 'Naked Gun: From the Files of Police Squad!, The (1988)': 168,
 'Fish Called Wanda, A (1988)': 169,
 'Being John Malkovich (1999)': 170,
 'Edge, The (1997)': 171,
 'Indiana Jones and the Last Crusade (1989)': 172,
 'Dragonheart (1996)': 173,
 'Blade (1998)': 174,
 'Men in Black (1997)': 175,
 'Ghost and the Darkness, The (1996)': 176,
 'Three Musketeers, The (1993)': 177,
 'Unforgiven (1992)': 178,
 'Rock, The (1996)': 179,
 'Young Guns (1988)': 180,
 'Young Guns II (1990)': 181,
 'Caddyshack (1980)': 182,
 'Butch Cassidy and the Sundance Kid (1969)': 183,
 'Crocodile Dundee (1986)': 184,
 'Easy Rider (1969)': 185,
 'Blazing Saddles (1974)': 186,
 'Deliverance (1972)': 187,
 'Indiana Jones and the Temple of Doom (1984)': 188,
 'Breakfast Club, The (1985)': 189,
 'Monty Python and the Holy Grail (1974)': 190,
 'Little Mermaid, The (1989)': 191,
 'Fistful of Dollars, A (1964)': 192,
 'Alien (1979)': 193,
 'Die Hard (1988)': 194,
 'Mad Max (1979)': 195,
 'King Kong (1933)': 196,
 'Jaws (1975)': 197,
 'Good, The Bad and The Ugly, The (1966)': 198,
 'Goldfinger (1964)': 199,
 'Terminator, The (1984)': 200,
 'Who Framed Roger Rabbit? (1988)': 201,
 'Gods and Monsters (1998)': 202,
 'Delicatessen (1991)': 203,
 'Clueless (1995)': 204,
 'Velvet Goldmine (1998)': 205,
 'Love! Valour! Compassion! (1997)': 206,
 'Citizen Ruth (1996)': 207,
 'Donnie Brasco (1997)': 208,
 'Wings of the Dove, The (1997)': 209,
 'Bound (1996)': 210,
 'Mrs. Dalloway (1997)': 211,
 'Bowfinger (1999)': 212,
 'Before Sunrise (1995)': 213,
 'Four Days in September (1997)': 214,
 'Orlando (1993)': 215,
 'Bridge on the River Kwai, The (1957)': 216,
 'Piano, The (1993)': 217,
 'Richard III (1995)': 218,
 'Pokémon the Movie 2000 (2000)': 219,
 'Seven (Se7en) (1995)': 220,
 'South Park: Bigger, Longer and Uncut (1999)': 221,
 'Pulp Fiction (1994)': 222,
 'Celluloid Closet, The (1995)': 223,
 'L.A. Confidential (1997)': 224,
 'Cold Comfort Farm (1995)': 225,
 'Priest (1994)': 226,
 'Ravenous (1999)': 227,
 'X-Files: Fight the Future, The (1998)': 228,
 'Don Juan DeMarco (1995)': 229,
 'Death and the Maiden (1994)': 230,
 'Insider, The (1999)': 231,
 'Beautiful Thing (1996)': 232,
 'Usual Suspects, The (1995)': 233,
 'Paris Is Burning (1990)': 234,
 'Sleepy Hollow (1999)': 235,
 'Speed (1994)': 236,
 'All About My Mother (Todo Sobre Mi Madre) (1999)': 237,
 'Thin Red Line, The (1998)': 238,
 'Faculty, The (1998)': 239,
 'Pecker (1998)': 240,
 'Pillow Book, The (1995)': 241,
 'Out of Sight (1998)': 242,
 'Ghostbusters (1984)': 243,
 'Liar Liar (1997)': 244,
 'Player, The (1992)': 245,
 'Crumb (1994)': 246,
 'Creepshow (1982)': 247,
 'Good Will Hunting (1997)': 248,
 'Topsy-Turvy (1999)': 249,
 'Edward Scissorhands (1990)': 250,
 'Ice Storm, The (1997)': 251,
 'Trick (1999)': 252,
 'Mystery Men (1999)': 253,
 'Pi (1998)': 254,
 "There's Something About Mary (1998)": 255,
 'Go (1999)': 256,
 'Night of the Living Dead (1968)': 257,
 'Wild Reeds (1994)': 258,
 'Men With Guns (1997)': 259,
 'Living in Oblivion (1995)': 260,
 'Go Fish (1994)': 261,
 "Jackie Chan's First Strike (1996)": 262,
 'Office Killer (1997)': 263,
 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)': 264,
 'Sweet Hereafter, The (1997)': 265,
 'Fast, Cheap & Out of Control (1997)': 266,
 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 267,
 'Poseidon Adventure, The (1972)': 268,
 'GoodFellas (1990)': 269,
 'Love and Death on Long Island (1997)': 270,
 'Election (1999)': 271,
 'Grosse Pointe Blank (1997)': 272,
 'Fight Club (1999)': 273,
 'All Over Me (1997)': 274,
 'Washington Square (1997)': 275,
 'North by Northwest (1959)': 276,
 'Babe: Pig in the City (1998)': 277,
 'Jackie Brown (1997)': 278,
 "Jacob's Ladder (1990)": 279,
 'Three Kings (1999)': 280,
 'Casino (1995)': 281,
 "Billy's Hollywood Screen Kiss (1997)": 282,
 'Smoke (1995)': 283,
 'Nightmare Before Christmas, The (1993)': 284,
 "Romy and Michele's High School Reunion (1997)": 285,
 'Incredibly True Adventure of Two Girls in Love, The (1995)': 286,
 'Happiness (1998)': 287,
 'Austin Powers: International Man of Mystery (1997)': 288,
 'Reservoir Dogs (1992)': 289,
 'Howards End (1992)': 290,
 'Maltese Falcon, The (1941)': 291,
 'Kundun (1997)': 292,
 'Final Destination (2000)': 293,
 'Waiting for Guffman (1996)': 294,
 'Big Lebowski, The (1998)': 295,
 'Afterglow (1997)': 296,
 'Little Voice (1998)': 297,
 'My Life in Pink (Ma vie en rose) (1997)': 298,
 'Mariachi, El (1992)': 299,
 'Shanghai Noon (2000)': 300,
 'Rushmore (1998)': 301,
 'Austin Powers: The Spy Who Shagged Me (1999)': 302,
 'Dick (1999)': 303,
 'Big Night (1996)': 304,
 'Fear and Loathing in Las Vegas (1998)': 305,
 'Opposite of Sex, The (1998)': 306,
 'Madness of King George, The (1994)': 307,
 'Bullets Over Broadway (1994)': 308,
 'Cruise, The (1998)': 309,
 'City of Lost Children, The (1995)': 310,
 'Welcome to the Dollhouse (1995)': 311,
 'Glengarry Glen Ross (1992)': 312,
 'Nowhere (1997)': 313,
 'Much Ado About Nothing (1993)': 314,
 "Boys Don't Cry (1999)": 315,
 'Misery (1990)': 316,
 'Twelve Monkeys (1995)': 317,
 'Rosencrantz and Guildenstern Are Dead (1990)': 318,
 'High Art (1998)': 319,
 'Bob Roberts (1992)': 320,
 "But I'm a Cheerleader (1999)": 321,
 'Babe (1995)': 322,
 'Dead Man Walking (1995)': 323,
 'Dead Man (1995)': 324,
 'Romancing the Stone (1984)': 325,
 'Top Gun (1986)': 326,
 'Gone in 60 Seconds (2000)': 327,
 "Pete's Dragon (1977)": 328,
 'Anastasia (1997)': 329,
 'Lion King, The (1994)': 330,
 "Murphy's Romance (1985)": 331,
 'Moonstruck (1987)': 332,
 'Jeremiah Johnson (1972)': 333,
 'Outlaw Josey Wales, The (1976)': 334,
 'To Gillian on Her 37th Birthday (1996)': 335,
 'Pretty Woman (1990)': 336,
 'Wyatt Earp (1994)': 337,
 'Other Sister, The (1999)': 338,
 'Arthur (1981)': 339,
 "My Best Friend's Wedding (1997)": 340,
 'Mighty Ducks, The (1992)': 341,
 'Blue Hawaii (1961)': 342,
 'Gypsy (1962)': 343,
 'Tequila Sunrise (1988)': 344,
 'Keeping the Faith (2000)': 345,
 'Patriot, The (2000)': 346,
 'Magnum Force (1973)': 347,
 'Babes in Toyland (1961)': 348,
 "Prizzi's Honor (1985)": 349,
 'Roustabout (1964)': 350,
 'Room with a View, A (1986)': 351,
 'Emma (1996)': 352,
 'Apple Dumpling Gang, The (1975)': 353,
 'West Side Story (1961)': 354,
 'Straight Story, The (1999)': 355,
 'Legends of the Fall (1994)': 356,
 'Sense and Sensibility (1995)': 357,
 'Starman (1984)': 358,
 'Benny & Joon (1993)': 359,
 'Dirty Dancing (1987)': 360,
 'Casablanca (1942)': 361,
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)': 362,
 'Paulie (1998)': 363,
 'Peggy Sue Got Married (1986)': 364,
 'Splash (1984)': 365,
 'Out of Africa (1985)': 366,
 'Grease (1978)': 367,
 'Little Big League (1994)': 368,
 'Witness (1985)': 369,
 'Where the Heart Is (2000)': 370,
 'Supercop (1992)': 371,
 'X-Men (2000)': 372,
 'Heat (1995)': 373,
 'Exorcist, The (1973)': 374,
 'Face/Off (1997)': 375,
 'Backdraft (1991)': 376,
 'In the Line of Fire (1993)': 377,
 'Tomorrow Never Dies (1997)': 378,
 'Patriot Games (1992)': 379,
 'Godfather: Part II, The (1974)': 380,
 'Elizabeth (1998)': 381,
 'Natural Born Killers (1994)': 382,
 "Mo' Better Blues (1990)": 383,
 'Jerry Maguire (1996)': 384,
 'Truman Show, The (1998)': 385,
 'Philadelphia (1993)': 386,
 'Batman: Mask of the Phantasm (1993)': 387,
 'Dead Presidents (1995)': 388,
 'Moll Flanders (1996)': 389,
 'Mr. Saturday Night (1992)': 390,
 'Cider House Rules, The (1999)': 391,
 'Summer of Sam (1999)': 392,
 'Private Parts (1997)': 393,
 'Amistad (1997)': 394,
 'Rob Roy (1995)': 395,
 'Poetic Justice (1993)': 396,
 'Waiting to Exhale (1995)': 397,
 'Soul Food (1997)': 398,
 'Anna and the King (1999)': 399,
 'Postino, Il (The Postman) (1994)': 400,
 'Eyes Wide Shut (1999)': 401,
 'He Got Game (1998)': 402,
 'Buffalo 66 (1998)': 403,
 "Devil's Own, The (1997)": 404,
 'Dolores Claiborne (1994)': 405,
 'People vs. Larry Flynt, The (1996)': 406,
 'Crimson Tide (1995)': 407,
 'Hamlet (1996)': 408,
 'Rudy (1993)': 409,
 "William Shakespeare's Romeo and Juliet (1996)": 410,
 'Firm, The (1993)': 411,
 'Deconstructing Harry (1997)': 412,
 'Akira (1988)': 413,
 'Ghost in the Shell (Kokaku kidotai) (1995)': 414,
 'Cyrano de Bergerac (1990)': 415,
 'Chasing Amy (1997)': 416,
 'Prince of Tides, The (1991)': 417,
 'What Dreams May Come (1998)': 418,
 'JFK (1991)': 419,
 'Heaven & Earth (1993)': 420,
 'Midnight in the Garden of Good and Evil (1997)': 421,
 'Six Degrees of Separation (1993)': 422,
 'Hilary and Jackie (1998)': 423,
 'Misérables, Les (1995)': 424,
 'Malcolm X (1992)': 425,
 'Bridges of Madison County, The (1995)': 426,
 'Interview with the Vampire (1994)': 427,
 'Alive (1993)': 428,
 'Scent of a Woman (1992)': 429,
 'Inkwell, The (1994)': 430,
 'Gattaca (1997)': 431,
 'Taxi Driver (1976)': 432,
 'Far and Away (1992)': 433,
 'Cop Land (1997)': 434,
 'Godfather: Part III, The (1990)': 435,
 'Nixon (1995)': 436,
 "What's Eating Gilbert Grape (1993)": 437,
 'Beloved (1998)': 438,
 'My Crazy Life (Mi vida loca) (1993)': 439,
 'True Romance (1993)': 440,
 "Eve's Bayou (1997)": 441,
 'Hard-Boiled (Lashou shentan) (1992)': 442,
 'Great Expectations (1998)': 443,
 'High Fidelity (2000)': 444,
 'Red Violin, The (Le Violon rouge) (1998)': 445,
 "General's Daughter, The (1999)": 446,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 447,
 'Powder (1995)': 448,
 'Leaving Las Vegas (1995)': 449,
 'Life Is Beautiful (La Vita è bella) (1997)': 450,
 'American History X (1998)': 451,
 'Cruel Intentions (1999)': 452,
 'Boogie Nights (1997)': 453,
 'Joy Luck Club, The (1993)': 454,
 'Robin Hood: Prince of Thieves (1991)': 455,
 'Arachnophobia (1990)': 456,
 'Nell (1994)': 457,
 'Mask, The (1994)': 458,
 'Clerks (1994)': 459,
 'Boiler Room (2000)': 460,
 'Meet the Parents (2000)': 461,
 'Time to Kill, A (1996)': 462,
 'Frequency (2000)': 463,
 'Rules of Engagement (2000)': 464,
 'Quiz Show (1994)': 465,
 'Wedding Singer, The (1998)': 466,
 'Cape Fear (1991)': 467,
 'Magnolia (1999)': 468,
 'Searching for Bobby Fischer (1993)': 469,
 'Swingers (1996)': 470,
 'Star Trek: First Contact (1996)': 471,
 'Sling Blade (1996)': 472,
 'Hurricane, The (1999)': 473,
 'Chicken Run (2000)': 474,
 'My Cousin Vinny (1992)': 475,
 'Wrong Trousers, The (1993)': 476,
 'Return to Paradise (1998)': 477,
 "Wayne's World (1992)": 478,
 'Contact (1997)': 479,
 'Grand Day Out, A (1992)': 480,
 'Kolya (1996)': 481,
 'Mission: Impossible 2 (2000)': 482,
 'Trainspotting (1996)': 483,
 'Tango Lesson, The (1997)': 484,
 'Age of Innocence, The (1993)': 485,
 'Remember the Titans (2000)': 486,
 'Boat, The (Das Boot) (1981)': 487,
 'When Harry Met Sally... (1989)': 488,
 'Cutting Edge, The (1992)': 489,
 'Hype! (1996)': 490,
 'Bronx Tale, A (1993)': 491,
 "Midsummer Night's Dream, A (1999)": 492,
 'Defending Your Life (1991)': 493,
 'Breaking Away (1979)': 494,
 'Prophecy II, The (1998)': 495,
 'Alien³ (1992)': 496,
 'Addams Family, The (1991)': 497,
 'Ever After: A Cinderella Story (1998)': 498,
 'Honey, I Shrunk the Kids (1989)': 499,
 'Chinatown (1974)': 500,
 'Treasure of the Sierra Madre, The (1948)': 501,
 'Naked Gun 2 1/2: The Smell of Fear, The (1991)': 502,
 'Duck Soup (1933)': 503,
 'Better Off Dead... (1985)': 504,
 'Lost in Space (1998)': 505,
 'American Graffiti (1973)': 506,
 'Home Alone (1990)': 507,
 'Ghost (1990)': 508,
 'Teenage Mutant Ninja Turtles (1990)': 509,
 'To Sir with Love (1967)': 510,
 'Blast from the Past (1999)': 511,
 'Message in a Bottle (1999)': 512,
 'Jumanji (1995)': 513,
 'My Favorite Martian (1999)': 514,
 'Batman Forever (1995)': 515,
 'Sabrina (1995)': 516,
 'Adventures in Babysitting (1987)': 517,
 'Doctor Dolittle (1967)': 518,
 'Nutty Professor, The (1963)': 519,
 "Charlotte's Web (1973)": 520,
 'Phenomenon (1996)': 521,
 'Watership Down (1978)': 522,
 'Michael (1996)': 523,
 "Bram Stoker's Dracula (1992)": 524,
 'Arsenic and Old Lace (1944)': 525,
 'Superman (1978)': 526,
 'Batman (1989)': 527,
 'Pinocchio (1940)': 528,
 'Good Earth, The (1937)': 529,
 'Lethal Weapon 4 (1998)': 530,
 'Dark Crystal, The (1982)': 531,
 "'burbs, The (1989)": 532,
 'Fried Green Tomatoes (1991)': 533,
 'Carrie (1976)': 534,
 'Journey of Natty Gann, The (1985)': 535,
 'Jungle Book, The (1967)': 536,
 'Cool Hand Luke (1967)': 537,
 'Spy Hard (1996)': 538,
 'Mystery Science Theater 3000: The Movie (1996)': 539,
 'Young Frankenstein (1974)': 540,
 'All Quiet on the Western Front (1930)': 541,
 'Rocky Horror Picture Show, The (1975)': 542,
 'Harry and the Hendersons (1987)': 543,
 'Stargate (1994)': 544,
 'Santa Clause, The (1994)': 545,
 'Houseguest (1994)': 546,
 'Lady and the Tramp (1955)': 547,
 'Fantasia (1940)': 548,
 'High Noon (1952)': 549,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)': 550,
 'Peter Pan (1953)': 551,
 'Somewhere in Time (1980)': 552,
 "Pee-wee's Big Adventure (1985)": 553,
 'War of the Worlds, The (1953)': 554,
 'Heart and Souls (1993)': 555,
 'River Runs Through It, A (1992)': 556,
 'Producers, The (1968)': 557,
 'Star Trek: Generations (1994)': 558,
 'Robin Hood (1973)': 559,
 'Nine Months (1995)': 560,
 'NeverEnding Story, The (1984)': 561,
 'Little Big Man (1970)': 562,
 'Rescuers, The (1977)': 563,
 'Trading Places (1983)': 564,
 'Return from Witch Mountain (1978)': 565,
 "Breakfast at Tiffany's (1961)": 566,
 'First Wives Club, The (1996)': 567,
 'Return to Oz (1985)': 568,
 'Rear Window (1954)': 569,
 'Rocketeer, The (1991)': 570,
 'Being There (1979)': 571,
 'Sleeping Beauty (1959)': 572,
 'M*A*S*H (1970)': 573,
 'Jack (1996)': 574,
 'Little Shop of Horrors (1986)': 575,
 'Escape to Witch Mountain (1975)': 576,
 'Tom Jones (1963)': 577,
 'Tommy Boy (1995)': 578,
 'While You Were Sleeping (1995)': 579,
 'Practical Magic (1998)': 580,
 'Star Trek: The Motion Picture (1979)': 581,
 'Beetlejuice (1988)': 582,
 'Star Trek: The Wrath of Khan (1982)': 583,
 'Star Trek III: The Search for Spock (1984)': 584,
 'Sabrina (1954)': 585,
 'Star Trek IV: The Voyage Home (1986)': 586,
 'Batman Returns (1992)': 587,
 'Roman Holiday (1953)': 588,
 'Meet Me in St. Louis (1944)': 589,
 'Old Yeller (1957)': 590,
 '13th Warrior, The (1999)': 591,
 'Gold Rush, The (1925)': 592,
 'Homeward Bound: The Incredible Journey (1993)': 593,
 'Shaggy Dog, The (1959)': 594,
 '20,000 Leagues Under the Sea (1954)': 595,
 'Hook (1991)': 596,
 'Ace Ventura: Pet Detective (1994)': 597,
 'Mixed Nuts (1994)': 598,
 'Hero (1992)': 599,
 'Miracle on 34th Street (1994)': 600,
 'Citizen Kane (1941)': 601,
 '2001: A Space Odyssey (1968)': 602,

In [439]:
favorite_movie = 'Saving Private Ryan (1998)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie   # (movie idx, 유사도) Tuple

[(48, 1.0),
 (87, 0.66596717),
 (23, 0.651479),
 (157, 0.50511384),
 (3628, 0.46879748),
 (487, 0.44393817),
 (248, 0.43427),
 (141, 0.4234534),
 (3499, 0.40986493),
 (121, 0.39208636),
 (988, 0.38359687),
 (99, 0.36282024),
 (3493, 0.34780887),
 (75, 0.3449887),
 (124, 0.34384015)]

In [440]:
# movie_to_idx 를 뒤집어, index로부터 movie 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Saving Private Ryan (1998)',
 'Braveheart (1995)',
 "Schindler's List (1993)",
 'Shawshank Redemption, The (1994)',
 'The Shawshank Redemption (1994)',
 'Boat, The (Das Boot) (1981)',
 'Good Will Hunting (1997)',
 'Fugitive, The (1993)',
 'Simon Sez (1999)',
 'Silence of the Lambs, The (1991)',
 'Glory (1989)',
 'American Beauty (1999)',
 'Held Up (2000)',
 'Hunt for Red October, The (1990)',
 'Matrix, The (1999)']

In [441]:
# 비슷한 영화를 알려주는 함수
def get_similar_movie(movie_title: str):
    movie_id = movie_to_idx[movie_title]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [443]:
get_similar_movie('Mission: Impossible (1996)')

['Mission: Impossible (1996)',
 'True Lies (1994)',
 'GoldenEye (1995)',
 'Lost World: Jurassic Park, The (1997)',
 'Twister (1996)',
 'Conspiracy Theory (1997)',
 'Con Air (1997)',
 'Young Sherlock Holmes (1985)',
 'Mask of Zorro, The (1998)',
 'Rock, The (1996)']

In [444]:
get_similar_movie('2001: A Space Odyssey (1968)')

['2001: A Space Odyssey (1968)',
 'Close Encounters of the Third Kind (1977)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
 'Clockwork Orange, A (1971)',
 'Alien (1979)',
 '2010 (1984)',
 'Brazil (1985)',
 'Blade Runner (1982)',
 'Rear Window (1954)',
 'Day the Earth Stood Still, The (1951)']

In [445]:
user = user_to_idx[6041]
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(23, 0.44427347),
 (87, 0.39158636),
 (92, 0.336244),
 (60, 0.31596318),
 (248, 0.29368407),
 (146, 0.24877766),
 (107, 0.24852832),
 (64, 0.24412411),
 (99, 0.24071482),
 (141, 0.23984663),
 (44, 0.22345932),
 (160, 0.21519914),
 (157, 0.20712374),
 (988, 0.20661072),
 (375, 0.20652787),
 (175, 0.19950634),
 (154, 0.19587344),
 (38, 0.18915038),
 (145, 0.18702066),
 (126, 0.18557128)]

In [446]:
# 인덱스를 영화 제목으로 변환
[idx_to_movie[i[0]] for i in movie_recommended]

["Schindler's List (1993)",
 'Braveheart (1995)',
 'Terminator 2: Judgment Day (1991)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Good Will Hunting (1997)',
 'Thelma & Louise (1991)',
 'Jurassic Park (1993)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'American Beauty (1999)',
 'Fugitive, The (1993)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Forrest Gump (1994)',
 'Shawshank Redemption, The (1994)',
 'Glory (1989)',
 'Face/Off (1997)',
 'Men in Black (1997)',
 'As Good As It Gets (1997)',
 'Sixth Sense, The (1999)',
 'Fifth Element, The (1997)',
 'Shakespeare in Love (1998)']

In [448]:
# 사용자가 기록을 남긴 데이터가 특정 영화 추천에 기여한 정도를 확인
recommended = movie_to_idx['Star Wars: Episode IV - A New Hope (1977)']
explain = als_model.explain(user, csr_data, itemid=recommended)

[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('Matrix, The (1999)', 0.10651521843673317),
 ('Saving Private Ryan (1998)', 0.07141647414309976),
 ('Titanic (1997)', 0.04775964962356534),
 ('The Shawshank Redemption (1994)', -2.1723490017454678e-05),
 ('Life Is Beautiful (La Vita è bella) (1997)', -0.008512690267092025)]